* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Jura", sans-serif;
  background: linear-gradient(160deg, #0c98a2 25%, #103d57 80%);
}

.grid_wrapper {
  display: grid;
  grid-template-rows: 12rem 1fr 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo ... nav"
    "main main main"
    "foot foot foot";
}
nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  margin: 4rem;
  div {
    margin: 0 3rem;
    padding: 0.8rem 0.4rem;
    text-align: center;
    width: 10rem;
    height: 5rem;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #03554e93,
      -0.2rem -0.2rem 0.5rem 0.5rem #03cecef8;
    animation: buttons 1s steps(15) 5s 1 normal both;
    @keyframes buttons {
      0% {
        box-shadow: 0rem 0rem 0rem 0rem #08323a80, 0rem 0rem 0rem 0rem #41e0e077;
      }

      50% {
        box-shadow: 0.5rem 0.5rem 0.5rem 0.4rem #08323a80,
          -0.2rem -0.2rem 0.5rem 0.2rem #41e0e077;
      }
    }
    a {
      text-decoration: none;
      color: #3d2f01bd;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}
.logo_display {
  grid-area: logo;
  font-family: "Press Start 2P", cursive;
  color: #04799cb2;
  position: relative;
  top: 3.3rem;
  left: 28rem;
  width: 50rem;
  height: 5rem;
  padding: 0.8rem;
  border-radius: 5%;
  background: #01060c;
  box-shadow: inset 0.2rem 0.2rem 0.5rem 0.5rem #03554e79,
    inset -0.2rem -0.2rem 0.5rem 0.5rem #1be6e6fd;
  p {
    margin-top: 0.2rem;
    padding: 0.3rem;
    border-right: 5px solid #09cef1;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
  }
  .type {
    animation: type 2s steps(25) 3s 1 normal both, cursor 0.8s infinite normal;
  }
  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 25ch;
    }
  }
  @keyframes cursor {
    from {
      border-right-color: #09cef1;
    }
    to {
      border-right-color: #efefef00;
    }
  }
}
main {
  grid-area: main;
  font-size: 4rem;
  color: #3d2f01bd;
  text-shadow: 2px 2px 1px #328ccce3;
  display: grid;
  grid-template-rows: 5rem 5rem 15rem;
  grid-template-areas:
    "header header header"
    "par par par"
    "lang lang lang";
  width: 75%;
  height: 55rem;
  margin: 5rem auto;
  padding: 5rem 2rem;
  background: #10628346;
  border-radius: 5rem;
  box-shadow: 0.9rem 0.9rem 1rem 0.8rem #08323a80,
    -0.8rem -0.8rem 1rem 0.5rem #41e0e077;
  animation: system_on 0.8s steps(15) 2s 1 normal both;
  @keyframes system_on {
    0% {
      background: #10628300;
      box-shadow: inset 0rem 0rem 0rem 0rem #08323a80,
        inset 0rem 0rem 0rem 0rem #41e0e077;
    }

    40% {
      box-shadow: 0.2rem 0.2rem 0.2rem 0.4rem #08323a80,
        -0.2rem -0.2rem 0.5rem 0.2rem #41e0e077;
    }

    90% {
      box-shadow: 1.4rem 1.4rem 1.4rem 0.8rem #08323a80,
        -1.4rem -1.4rem 1.2rem 0.5rem #41e0e077;
    }
  }

  .card-name {
    grid-area: header;
    height: 15rem;
    padding: 3rem 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  p {
    grid-area: par;
  }
  .flex_container {
    grid-area: lang;
    background-color: #3085ac34;
    width: 95%;
    height: 18rem;
    display: flex;
    position: relative;
    top: 17rem;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4rem 0;
    border-radius: 3rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
      inset -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
    animation: control 0.8s steps(15) 2s 1 normal both;
    @keyframes control {
      0% {
        background: #10628300;
        box-shadow: inset 0rem 0rem 0rem 0rem #08323a80,
          inset 0rem 0rem 0rem 0rem #41e0e077;
      }

      40% {
        box-shadow: inset 1rem 1rem 1rem 0.4rem #08323a80,
          inset -1rem -1rem 1rem 0.2rem #41e0e077;
      }
      90% {
        box-shadow: inset 1.4rem 1.4rem 1.4rem 0.8rem #08323a80,
          inset -1.4rem -1.4rem 1.2rem 0.5rem #41e0e077;
      }
    }

    div {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;

      box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
        -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
    }
    #html_logo {
      width: 10.5rem;
      margin-top: -0.6rem;
      margin-left: -0.3rem;
    }
    img {
      width: 9rem;
      margin: 0.5rem 0.5rem;
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 {
    margin: 0 auto;
  }
  div {
    display: flex;
    margin-left: 10rem;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;

    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
      -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
  }
  img {
    width: 9rem;
    height: 9rem;
    margin: 0.5rem 0.5rem;
  }
  a {
    margin: 2rem 5rem;
    text-decoration: none;
    color: #3d2f01bd;
  }
}
footer {
  grid-area: foot;
}
// @media
