* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  color: #031724;
  font-size: 1.6rem;
  font-family: "Jura", sans-serif;

  background: linear-gradient(160deg, #0c73a2 35%, #0044bb 80%);
}

.grid_wrapper {
  display: grid;
  grid-template-rows: 12rem 1fr 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "logo ... nav"
    "main main main"
    "foot foot foot";
}
nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  margin: 4rem;
  div {
    margin: 0 3rem;
    padding: 1.2rem;
    text-align: center;
    width: 10rem;
    height: 5rem;
    border-radius: 5%;
    background: rgba(44, 109, 194, 0);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
      -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
  }
}
.logo_display {
  grid-area: logo;
  font-family: "Press Start 2P", cursive;
  position: relative;
  top: 3.3rem;
  left: 28rem;
  width: 50rem;
  height: 5rem;

  padding: 0.8rem;
  border-radius: 5%;
  background: #2c6dc200;
  box-shadow: inset 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
    inset -0.2rem -0.2rem 0.5rem 0.5rem #1b9ce6fd;
  h3 {
    margin-top: 0.2rem;
    padding: 0.2rem;
    border-right: 1px solid salmon;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

main {
  grid-area: main;
  font-size: 4rem;
  color: #033046cc;
  text-shadow: 2px 2px 1px #328ccce3;
  display: grid;
  grid-template-rows: 5rem 5rem 15rem;
  grid-template-areas:
    "header header header"
    "par par par"
    "lang lang lang";
  width: 75%;
  height: 55rem;
  margin: 5rem auto;
  padding: 5rem 2rem;

  background: #136b9ee0;
  border-radius: 5rem;
  box-shadow: 0.9rem 0.9rem 1rem 0.8rem #013d7941,
    -0.8rem -0.8rem 1rem 0.5rem #3a86b962;
  .card-name {
    grid-area: header;
    height: 15rem;
    padding: 3rem 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  p {
    grid-area: par;
  }
  .flex_container {
    grid-area: lang;
    background-color: #3085ac56;
    width: 95%;
    height: 18rem;
    display: flex;
    position: relative;
    top: 17rem;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4rem 0;
    border-radius: 3rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
      inset -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
    div {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      background: rgba(44, 109, 194, 0);
      box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem #033e5579,
        -0.2rem -0.2rem 0.5rem 0.5rem #1b9be6c9;
    }
    #html_logo {
      width: 11rem;
      margin-top: -0.9rem;
      margin-left: -0.5rem;
    }
    img {
      width: 9rem;
      margin: 0.5rem 0.5rem;
    }
  }
}

footer {
  grid-area: foot;
}
